<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>MyServer</title>
</head>
<body>
    <%- include('blocks/header.ejs') -%>
    <main>
        <h1>Страничка про нас</h1>
        <p>Идея была придумана 30 марта и тогда же началась реализация.</p><p> на момент чтения существует всего 2 карточки(2 прфоиля).</p><p> Это все просто фан-moments для отработки навыков.</p><p> Но мало ли в старости я буду листать и вспоминать а с кем-же я общался и что вы за люди такие были.</p>
    </main>
    <%- include('blocks/footer.ejs') -%>
</body>
</html>