<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Server</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header.ejs') -%>
        <main class="home_grid container">
            <div class="home_questions">
                <h2>Для чего нужен этот сайт?</h2>
                <p>интерактивный сайт, с полным списком моих друзей и информацией и них. Положительные и негативные отзывы, а так же рейтинг, который в будущем будет меняться онлайн.</p>
            </div>
            <div class="home_questions">
                <h2>какую цель он приследует?</h2>
                <p>Сайт несет развлекательный характер, а так же позволит узнать немного обо мне и моих отношениях с людьми</p>
            </div>
            <div class="home_questions">
                <h2>Как часто он будет обновляться?</h2>
                <p>Я буду стараться максимально часто его обновлять и пополнять, а когда создам логику с помощью которой можно будет просто добавлять новых пользователей, а не создавать всем отдельный html так и вообще проблем никаких не будет.</p>
            </div>
            <div class="home_questions">
                <h2>Можно ли будет удалить данные о друге?</h2>
                <p>Нет. Даже если на ваш взгляд мои суждения будут ошибочны, мне пофек. Я добавлю в footer кнопку пожаловаться. заполняете форму и я получу ее на свою почту и ничего не буду делать)</p>
            </div>
        </main>
        <%- include('blocks/footer.ejs') -%>
</body>
</html>