<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLEG</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header.ejs') -%>
    <main class="container pozition">
        <h2 class="name">Oleg Molochko</h2>
        <p class="person">Олег 22 года <br>Собираю коробки<br>Употребляю наркотки</p>
    </main>
    <%- include('blocks/footer.ejs') -%>
</body>
</html>