<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polina</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header.ejs') -%>
    <main>
        <h1>Polina Semenova</h1>
        <div class="info">
            <img src="" alt="">
            <p>Полина 19 лет <br>Будущий косметолог и по совместительству мой друг <br>хочет порш и свою клинику<br></p>
        </div>
    </main>
    <%- include('blocks/footer.ejs') -%>
</body>
</html>