<footer>
    <div>Site created Bobrov Alexandr</div>
    <div>версия 0.0.1</div>
    <div>
        <a href="tel:+79933623681">+7 (993) 362-36-81</a>
        <a class="mail" href="mailto:sltkbeaver199@yandex.ru">Напишите нам</a>
    </div>
</footer>